body {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

h1 {
    text-align: center;
}

textarea {
    resize: none;
}

button:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.grid-container {
    background-color: #EBE9E1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.grid-container .sort {
    grid-row: 2;
}

.grid-container .sort button {
    margin: 1rem 0 0 1rem;
}

.grid-container footer {
    grid-column: 1 / 3;
    grid-row: 5;
}

.grid-container .top-bar button {
    height: 2rem;
}

.top-bar {
    background-color: #EFB11D;
    color: #2E3944;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
    grid-column: 1 / 3;
    grid-row: 1;
}

.top-bar .title {
    grid-column: 2 / 5;
    grid-row: 1;
    height: 50%;
}

.top-bar .title-2 {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    height: 50%;
}

.top-bar button, .grid-container .sort button, .book-view button, .top-bar-book button {
    background-color: #D1E8E2;
    border-radius: 5px;
    grid-row: 2;
    width: 8rem;
}

.top-bar button:hover {
    transform: scale(1.06);
}

.top-bar .first {
    grid-column: 2;
}

.top-bar .second {
    grid-column: 3;
}

.top-bar .third {
    grid-column: 5;
}

.top-bar .greeting {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

.top-bar .search-bar {
    grid-column: 4;
    grid-row: 2;
    display: flex;
    height: 50%;
}

.top-bar .search-bar input {
    width: 20rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 2px solid black;
}

.top-bar .search-bar img {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.top-bar .search-bar img:hover {
    background-color: blue;
}

.top-bar .account {
    grid-column: 6;
    grid-row: 2;
    width: 45%;
    height: 50%;
}

.side-bar {
    grid-column: 1;
    grid-row: 2 / 5;
    width: 15vw;
    height: 100%;
    border: 1px solid grey;
    overflow-y: auto;
}

.side-bar button {
    background-color: #D1E8E2;
    border-radius: 5px;
    grid-row: 2;
    width: 8rem;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.forms button {
    width: 5rem;
    padding: 0.2rem 0;
    background-color: #D1E8E2;
    border-radius: 5px;
}

.forms label {
    margin: 0.5rem 0;
}

.pages {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages > * {
    margin: 0.5rem 0.5rem;
}

.pages p {
    font-size: larger;
}

.ingredients, .steps {
    display: flex;
    text-align: center;
}

.ingredients button, .steps button {
    background-color: orange;
    width: 8rem;
    padding: 0.5rem;
}

.ingredients button:hover, .steps button:hover {
    background-color: rgb(239, 188, 168);
}

.recipes {
    display: grid;
    margin: 1rem; 
    min-height: 100vh;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
}

.popular-recipes {
    display: grid;
    margin: 1rem;
    min-height: 100vh; 
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    width: 96vw;
}

.recipe {
    border: 3px solid black;
    border-radius: 5px;
    width: 15rem;
    height: 17rem;
    cursor: pointer;
}

.recipe p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe .recipe-title {
    background-color: rgb(255, 193, 79);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: large;
    padding: 0.5rem;
}

.recipe .description {
    margin: 0.3rem;
}

.recipe img {
    width: 100%;
    height: 10rem;
}

.recipe:hover {
    transform: scale(1.06);
    border-color: brown;
}

.stars, .stars-homepage {
    display: flex;
    align-items: center;
}

.stars span {
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
}

.stars .average::before {
    content: "\2605";
    color: green;
}

.stars span::before {
    content: "\2606";
    color: grey;
}

.stars span.highlighted::before {
    content: "\2605";
    color: gold;
}

.stars span:hover::before {
    color: gold;
}

.top button {
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    background-color: rgb(26, 156, 179);
    border-radius: 5px;
}

.recipe-details {
    display: grid;
    padding: 0 1rem;
    border: 2px solid black;
    align-items: center;
    grid-template-columns: 1fr 6fr 3fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.recipe-details > * {
    grid-column: 2;
}

.recipe-details img {
    grid-column: 2;
    width: 100%;
    align-self: center;
    border: 2px solid black;
    border-radius: 5px;
}

.recipe-details p {
    font-size: large;
}

.recipe-details .ingredient, .recipe-details .step {
    margin-right: 3rem;
}

.ingredient-list, .step-list {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.ingredient-list > *, .step-list > * {
    margin-left: 1rem;
}

.step-list ol > * {
    width: auto;
}

.add-recipe {
    background-color: #EBE9E1;
    overflow: hidden;
}

.add-recipe label {
    margin-top: 2rem;
}

.add-recipe-ingredients, .add-recipe-steps,
.edit-recipe-ingredients, .edit-recipe-steps 
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 1rem 0;
    padding: 1rem;
    width: 30rem;
}

.add-recipe-steps > *, 
.edit-recipe-ingredients > *, .edit-recipe-steps > *
{
    margin-top: 1rem;
}

.add-recipe-ingredients .ingredients {
    height: 40px;
    margin-top: 1rem;
}

.add-recipe-ingredients button, .add-recipe-steps button,
.edit-recipe-ingredients button, .edit-recipe-steps button 
{
    width: 9rem;
}

.view-recipe {
    display: grid;
    background-color: #EBE9E1;
}

.recipe-details .info {
    grid-column: 3;
    grid-row: 3;
}

.box {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.box .box-title {
    background-color: rgb(6, 208, 6);
    padding: 0.5rem 0;
}

.checkboxes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    width: 90vw;
}

.add {
    align-self: center;
    margin-top: 1rem;
}

.cancel {
    margin-top: 1rem;
}

.sign-up, .login-page, .edit-user {
    background-color: #EBE9E1;
    border: 2px solid black;
    border-radius: 5px;
}

.name-title {
    padding: 0.5rem;
    cursor: pointer;
}

.user-details {
    display: flex;
    column-gap: 1rem;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.3rem;
}

.inputs input {
    margin-bottom: 0.8rem;
    height: 1rem;
}

.inputs input:last-child {
    margin-bottom: 0;
}

.login-page {
    height: 74.8vh;
}

.login-page .forms {
    height: 80%;
}

.image-file {
    border: 2px solid black;
    border-radius: 4px;
    margin: 1rem;
}

.forms select {
    margin: 1rem;
}

.error-credentials {
    display: none;
    color: red;
}

.edit-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-user .edit-button {
    transform: scale(1);
    height: 2rem;
    background-color: red;
}

.personal-collection .top-bar button, .favourite-recipes .top-bar button {
    width: 70%;
    height: 80%;
}

.groups-page {
    display: grid;
    align-items: center;
    background-color: #EBE9E1;
}

.groups-page .top-bar {
    height: 20vh;
}

.groups-page .top-bar button {
    height: 1.5rem;
}

.group-page {
    background-color: #EBE9E1;
}

.group-page .top-bar button {
    height: 1rem;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    grid-column: 1 / 3;
}

.group {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: 40vw;
    margin: 1rem;
    cursor: pointer;
}

.group:hover {
    background-color: yellow;
}

.top-grid {
    background-color: #EFB11D;
    color: #2E3944;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}

.top-grid .title {
    grid-column: 1 / 6;
}

.top-grid .description {
    text-align: center;
    grid-column: 1 / 6;
    grid-row: 2;
}

.top-grid button {
    background-color: #D1E8E2;
    border-radius: 5px;
    grid-row: 3;
    width: 8rem;
    margin: 0 0 1rem 2rem;
    padding: 0.4rem;
}

.add-members-page {
    background-color: #EBE9E1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.add-members-page .top {
    background-color: #EFB11D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-members-page .forms button {
    width: auto;
    padding: 0.2rem 1rem;
}

.usernames {
    margin-top: 1rem;
}

.create-group {
    height: 100vh;
}

.edit-group {
    background-color: #EBE9E1;
    display: flex;
    flex-direction: column;
}

.boxed {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 50vw;
    margin-bottom: 1rem;
    padding: 1rem;
}

.boxed button {
    margin: 0.2rem 1rem;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
}

.admins, .collaborators {
    text-align: center;
    font-size: larger;
    border: 1px solid black;
    padding: 1rem;
}

.group-options {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr;
}

.group-options .search-bar {
    display: flex;
}

.group-options .search-bar input {
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid black;
    top: 0;
}

.group-options .search-bar img {
    border: 2px solid black;
    border-radius: 5px;
    height: 2rem;
    cursor: pointer;
}

.group-options .search-bar img:hover {
    background-color: blue;
}

.create-book-button {
    background-color: #D1E8E2;
    border-radius: 5px;
    margin: 1rem 6rem 0 1rem;
    width: 8rem;
    height: 3rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0 0 1rem;
    column-gap: 1rem;
}

.book {
    font-family: "Comic Sans MS", sans-serif;
    cursor: pointer;
}

.cover {
    width: 300px;
    height: 400px;
    background: #C5CBE3;
    border-left: 10px solid #123C69;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-bar-book {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    background-color: #EFB11D;
    color: #2E3944;
    padding-bottom: 0.2rem;
    column-gap: 1rem;
}

.top-bar-book .title {
    grid-column: 2 / 5;
    text-align: center;
}

.top-bar-book .description {
    grid-row: 2;
    grid-column: 2 / 5;
    text-align: center;
}

.top-bar-book .first {
    grid-row: 3;
    grid-column: 2;
}

.top-bar-book .second {
    grid-row: 3;
    grid-column: 3;
}

.top-bar-book .third {
    grid-row: 3;
    grid-column: 4;
}

.top-bar-book .fourth {
    grid-row: 3;
    grid-column: 5;
}

.book-options {
    display: flex;
    justify-content: center;
}

.book-options button {
    padding: 0.5rem;
    margin: 1rem;
}

.create-book {
    background-color: #EBE9E1;
    height: 100vh;
    overflow: hidden;
}

.book-recipe {
    margin: 0.2rem 0;
    display: grid;
    padding: 0 1rem;
    align-items: center;
    grid-template-columns: 1fr 6fr 3fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.book-recipe > * {
    grid-column: 2;
}

.book-recipe img {
    grid-column: 2;
    width: 40vw;
    height: 50vh;
    align-self: center;
    border: 2px solid black;
    border-radius: 5px;
}

.book-recipe .info {
    grid-column: 3;
    grid-row: 2;
}

.book-recipe .previous, .book-recipe .next {
    grid-row: 1 / 11;
    height: 100%;
    background-color: bisque;
    border-radius: 10px;
    transform: scale(1);
}

.book-recipe .previous {
    grid-column: 1;
}

.book-recipe .next {
    grid-column: 4;
}

.book-recipe button {
    width: 5rem;
}

.book-recipe .previous::before,
.book-recipe .next::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
}

.book-recipe .previous::before {
    border-width: 10px 15px 10px 0;
    border-color: transparent black transparent black;
}

.book-recipe .next::before {
    border-width: 10px 0 10px 15px;
    border-color: transparent black transparent black;
}

.bookpage {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.comments {
    border: 4px solid black;
    padding: 1rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

.comment-options {
    display: flex;
    flex-direction: column;
}

.comment-options button {
    transform: scale(1);
}

.comment {
    margin-top: 2rem;
    border: 2px solid rgb(118, 118, 245);
    border-radius: 10px;
    padding: 1rem;
}

.comment p {
    font-size: 15px;
    margin-top: 0.1rem;
}

.flex, .flex-column {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.time {
    margin-left: 1rem;
    color: grey;
    font-size: 11px;
}

.direct-message {
    background-color: #EBE9E1;
    overflow: hidden;
}

.direct-message .top-bar button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.email-to-be-sent {
    border: 4px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
}

.favourite-recipes {
    min-height: 100vh;
}

.favourite-section {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: center;
}

.favourite-section p {
    margin-left: 0.5rem;
    font-size: small;
}

.favourite {
    position: relative;
    width: 24px;
    height: 32px;
    background-color: grey;
    border-radius: 2px;
    cursor: pointer;
}

.favourite::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
}

.favourite.filled {
    background-color: purple;
}

.favourite.filled::after {
    border-top-color: purple;
}

.page-button {
    background-color: #D1E8E2;
    border-radius: 10px;
    padding: 0.3rem;
}

footer {
    text-align: center;
    background-color: #EFB11D;
    max-height: 1rem;
    padding: 1.5rem 0;
    width: 100%;
}